@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Hanken Grotesk", serif;
  font-size: 18px;
}

.result-card {
  max-width: 640px;
  max-height: 440px;
  background-color: white;
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 7px 20px 0px hsl(241, 100%, 89%);
}

.result-score-box {
  padding: 34px 48px;
  /* width: 100%; */
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.your-result {
  color: hsl(241, 100%, 89%);
}

.score-circle {
  padding: 36px 52px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%));
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-circle h1 {
  font-size: 56px;
}

.score-circle-text {
  color: hsl(241deg 100% 89% / 48%);
  font-size: 16px;
  font-weight: 600;
}

.great {
  margin-bottom: -10px;
}

.result-score-box > p {
  color: hsl(241, 100%, 89%);
  text-align: center;
  font-size: 16px;
}

.result-summary-box {
  width: 100%;
  padding: 34px 32px;
  border-left: none;
  border-radius: inherit;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  color: hsl(224, 30%, 27%);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.category {
  /* background-color: hsl(0, 100%, 67%); */
  display: flex;
  justify-content: space-between;
  padding-block: 12px;
  padding-inline: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.score {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.score span {
  color: rgba(128, 128, 128, 0.718);
}

.c-box {
  display: flex;
  gap: 8px;
}

.c-1 {
  background-color: hsl(0deg 100% 67% / 5%);
  color: hsl(0, 100%, 67%);
}

.c-2 {
  background-color: hsl(39deg 100% 56% / 5%);
  color: hsl(39, 100%, 56%);
}

.c-3 {
  background-color: hsl(166deg 100% 37% / 5%);
  color: hsl(166, 100%, 37%);
}

.c-4 {
  background-color: hsl(234deg 85% 45% / 5%);
  color: hsl(234, 85%, 45%);
}

.continue-button {
  background-image: linear-gradient(hsl(224, 30%, 27%) 100%, #ffff);
  position: relative;
  color: white;
  padding-block: 12px;
  padding-inline: 16px;
  border-radius: 24px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.continue-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  transition: opacity 0.5s;
  z-index: -1;
  opacity: 0;
}

.continue-button:hover::before {
  opacity: 1;
}

@media (max-width: 768px) {
  body {
    align-items: start;
  }
  .result-card {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    max-width: unset;
    max-height: unset;
    flex-direction: column;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .result-score-box {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  /* .result-summary-box {
    border: 1px solid red;
  } */
}
